


.footer_contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;

  &._text{
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    

  }

  a{
    text-decoration: none;
    width: 156px;
    height: 71px;
    background-image: url("assets/img/bouton.png");
    
  }
}





  footer {
  background-color: #1E96FC;
  height: 300px;
  .footer_wrapper{
    display: flex;
    padding-top: 50px;
    justify-content: space-between;

    .colonne{

      

ul{
  display: flex;
  gap: 12px ;
  flex-direction: column;
}
      a{
        text-decoration: none;
        color: white;
      }
      

      &-title{
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: white;
        margin-bottom: 24px;
      }
    }
  }
  

}

