span {
    &.jaune{
background-color: yellow ;
    }
    &.vert{
background-color: #4AEBA8;
    }
    &.bleu{
        background-color: blue;
    }
    &.violet{
        background-color: purple;
        
    }
}