

header {
  background-color: white;
  
  width: 100%;

  .current-menu-ancestor:hover ul {
    display: block;
    background-color: rgb(250, 0, 0);
    
  }

  .header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 101px;
    
    
    
  }

  .menu-main_nav-container{
    > ul{
      display: flex ;
      gap: 46px ;
      
      
       
    }

      li {
      font-family: "raleway";
      text-decoration: none;
      position: relative;
      

      
        a {
          text-decoration: none;
          color: black;

          &:hover{
            color: #1E96FC;
          }
        }

      
      }
      

  }



  img{
    width: 260px;
    height: 80px;
    
  }
    
    
     
        

        ul .sub-menu{
          display: flex;
          flex-direction: column;
          position: absolute;
          padding:50px 20px;
          background-color: red;
          text-align: center;
          left: 50%;
          transform: translateX(-50%);
          display: none;
          
         

          li{
            width: 100%;
            padding: auto 20px ;

            
          }
        }
        
    
  
}






