/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* raleway-regular - latin */
@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v28-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v28-latin-regular.woff") format("woff"), url("../fonts/raleway-v28-latin-regular.ttf") format("truetype"), url("../fonts/raleway-v28-latin-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}
* {
  box-sizing: border-box;
}

html {
  font-family: raleway;
}

span.jaune {
  background-color: #FCF300;
}
span.vert {
  background-color: #4AEBA8;
}
span.bleu {
  background-color: #1E96FC;
}
span.violet {
  background-color: #C25FFF;
}

.wrapper_small {
  max-width: 840px;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
}

.wrapper_big {
  max-width: 1480px;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
}

header {
  background-color: white;
  width: 100%;
}
header .header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 101px;
}
header .menu-main_nav-container > ul {
  display: flex;
  gap: 46px;
}
header .menu-main_nav-container > ul > li:hover ul {
  display: flex;
  background-color: #006AC4;
}
header .menu-main_nav-container li {
  font-family: "raleway";
  text-decoration: none;
  position: relative;
}
header .menu-main_nav-container li a {
  text-decoration: none;
  color: black;
}
header .menu-main_nav-container li a:hover {
  color: #1E96FC;
}
header img {
  width: 260px;
  height: 80px;
}
header ul .sub-menu {
  flex-direction: column;
  position: absolute;
  padding: 50px 20px;
  background-color: #006AC4;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  gap: 20px;
  border-radius: 5px;
  width: 210px;
  top: calc(100% + 20px);
}
header ul .sub-menu:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: "";
}
header ul .sub-menu a {
  color: white;
  font-weight: bold;
}
header ul .sub-menu li {
  width: 100%;
}

.footer_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.footer_contact._text {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}
.footer_contact a {
  text-decoration: none;
  width: 156px;
  height: 71px;
  background-image: url("assets/img/bouton.png");
}

footer {
  background-color: #1E96FC;
  height: 300px;
}
footer .footer_wrapper {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}
footer .footer_wrapper .colonne ul {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
footer .footer_wrapper .colonne a {
  text-decoration: none;
  color: white;
}
footer .footer_wrapper .colonne-title {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: white;
  margin-bottom: 24px;
}

div.sticker {
  background-color: blue;
}

.contact {
  background-color: yellow;
  width: 100%;
}
.contact .wpforms-container {
  padding: 80px 300px;
}
.contact .wpforms-container #wpforms-form-100 input {
  border-radius: 5px;
}
.contact .wpforms-submit-container .wpforms-submit {
  border-radius: 5px;
  background-color: black;
}
.contact div.wpforms-container-full .wpforms-form button[type=submit] {
  background-color: black;
  color: white;
}

section.vous-etes p, section.vous-etes h2, section.vous-etes h1, section.vous-etes a {
  font-family: raleway;
}
section.vous-etes p {
  font-size: 20px;
  line-height: 1.4;
}
section.vous-etes .title-background {
  width: 100%;
  height: 380px;
  align-items: center;
  justify-content: center;
  display: flex;
}
section.vous-etes .title-background h1 {
  font-size: 80px;
  font-weight: bold;
}
section.vous-etes h2 {
  padding-bottom: 40px;
}
section.vous-etes .block {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 140px;
  padding-bottom: 80px;
}
section.vous-etes .block h2 {
  font-size: 48px;
}
section.vous-etes .block p {
  padding-top: 40px;
}
section.vous-etes .block ul {
  max-width: 510px;
  margin: 0 auto;
}
section.vous-etes .block li {
  list-style: circle;
  text-align: left;
}

h1 {
  font-family: "raleway";
}

/*# sourceMappingURL=app.css.map */
