/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* raleway-regular - latin */
@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v28-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v28-latin-regular.woff") format("woff"), url("../fonts/raleway-v28-latin-regular.ttf") format("truetype"), url("../fonts/raleway-v28-latin-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}
* {
  box-sizing: border-box;
}

html {
  font-family: raleway;
}

span.jaune {
  background-color: #FCF300;
}
span.vert {
  background-color: #4AEBA8;
}
span.bleu {
  background-color: #1E96FC;
}
span.violet {
  background-color: #C25FFF;
}

.wrapper_small {
  max-width: 840px;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
}

.wrapper_big {
  max-width: 1480px;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
}

.block {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 140px;
  padding-bottom: 80px;
}
.block h2 {
  font-size: 48px;
}
.block p {
  padding-top: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.block ul {
  max-width: 510px;
  margin: 0 auto;
}
.block li {
  list-style: circle;
  text-align: left;
}

.button {
  position: relative;
}
.button.vert svg path {
  fill: #4AEBA8;
}
.button.vert span {
  color: black;
}
.button.jaune svg path {
  fill: #FCF300;
}
.button.jaune span {
  color: black;
}
.button.violet svg path {
  fill: #C25FFF;
}
.button.violet span {
  color: black;
}
.button.bleu svg path {
  fill: #1E96FC;
}
.button.bleu span {
  color: black;
}
.button svg {
  width: 170px;
  height: auto;
  display: block;
}
.button span {
  white-space: nowrap;
  text-decoration: none;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

header {
  background-color: white;
  width: 100%;
}
header .header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 101px;
}
header .menu-main_nav-container > ul {
  display: flex;
  gap: 46px;
}
header .menu-main_nav-container > ul > li:hover ul {
  display: flex;
  background-color: #006AC4;
}
header .menu-main_nav-container li {
  font-family: "raleway";
  text-decoration: none;
  position: relative;
}
header .menu-main_nav-container li a {
  text-decoration: none;
  color: black;
}
header .menu-main_nav-container li a:hover {
  color: #1E96FC;
}
header img {
  width: 260px;
  height: 80px;
}
header ul .sub-menu {
  flex-direction: column;
  position: absolute;
  padding: 50px 20px;
  background-color: #006AC4;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  gap: 20px;
  border-radius: 5px;
  width: 210px;
  top: calc(100% + 20px);
}
header ul .sub-menu:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: "";
}
header ul .sub-menu a {
  color: white;
  font-weight: bold;
}
header ul .sub-menu li {
  width: 100%;
}

.footer_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  /************************************************************************
                      A CHANGER EN CAS DE MISE EN LIGNE SUR SERVEUR (ID)
  *************************************************************************/
}
.page-id-63 .footer_contact {
  display: none;
}
.footer_contact._text {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}

footer {
  background-color: #1E96FC;
  height: 300px;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  footer {
    height: auto;
  }
}
footer .footer_wrapper {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  footer .footer_wrapper {
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
  }
}
footer .footer_wrapper .colonne ul {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
footer .footer_wrapper .colonne a {
  text-decoration: none;
  color: white;
}
footer .footer_wrapper .colonne-title {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: white;
  margin-bottom: 24px;
}

div.sticker {
  background-color: blue;
}

.contact {
  background-color: yellow;
  width: 100%;
}
.contact .wpforms-container {
  padding: 80px 0px;
}
.contact .wpforms-container #wpforms-form-100 input {
  border-radius: 5px;
}
.contact .wpforms-submit-container .wpforms-submit {
  border-radius: 5px;
  background-color: black;
}
.contact div.wpforms-container-full .wpforms-form button[type=submit] {
  background-color: black;
  color: white;
}

section.vous-etes p, section.vous-etes h2, section.vous-etes h1, section.vous-etes a {
  font-family: raleway;
}
section.vous-etes p {
  font-size: 20px;
  line-height: 1.4;
}
section.vous-etes .title-background {
  width: 100%;
  height: 380px;
  align-items: center;
  justify-content: center;
  display: flex;
}
section.vous-etes .title-background h1 {
  font-size: 80px;
  font-weight: bold;
}
section.vous-etes h2 {
  padding-bottom: 40px;
}
section.vous-etes .block {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 140px;
  padding-bottom: 80px;
}
section.vous-etes .block h2 {
  font-size: 48px;
}
section.vous-etes .block p {
  padding-top: 40px;
}
section.vous-etes .block ul {
  max-width: 510px;
  margin: 0 auto;
}
section.vous-etes .block li {
  list-style: circle;
  text-align: left;
}

h1 {
  font-family: "raleway";
}

.main .heading-block {
  padding: 120px 0px;
}
.main .heading-block .wrapper_big {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
}
.main .heading-block .heading-image {
  width: 30%;
  height: auto;
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .main .heading-block .heading-image {
    display: none;
  }
}
.main .heading-block .heading-image img {
  width: 100%;
  height: auto;
}
.main .heading-block .heading-text .title-text {
  font-weight: 800;
  font-size: 80px;
  line-height: 94px;
}
@media screen and (max-width: 768px) {
  .main .heading-block .heading-text .title-text {
    font-size: 40px;
    line-height: 45px;
  }
}
.main .group-stickers {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}
.main .group-stickers .sticker-body {
  width: 310px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
}
.main .group-stickers .sticker-body .sticker-content {
  height: 100%;
  gap: 30px;
  padding: 0px 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main .group-stickers .sticker-body .sticker-content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 123.4%;
}
.main .group-stickers .sticker-body .sticker-content p.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}
.main .group-stickers .sticker-body .sticker-element {
  width: 74px;
  height: 4px;
}
.main .group-stickers .sticker-body img {
  height: 69px;
  width: 69px;
  display: block;
}

.cards-block .cards {
  gap: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .cards-block .cards {
    flex-direction: column;
    align-items: center;
  }
}
.cards-block .cards .card-body {
  width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .cards-block .cards .card-body {
    border: 2px solid;
  }
  .cards-block .cards .card-body.jaune {
    border-color: #FCF300;
  }
  .cards-block .cards .card-body.violet {
    border-color: #C25FFF;
  }
  .cards-block .cards .card-body.bleu {
    border-color: #1E96FC;
  }
  .cards-block .cards .card-body.vert {
    border-color: #4AEBA8;
  }
}
.cards-block .cards .card-body .card-image {
  width: 100%;
}
.cards-block .cards .card-body .card-image img {
  display: block;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
}
.cards-block .cards .card-body .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  padding: 0px 10px;
}
.cards-block .cards .card-body .card-content .button {
  align-self: center;
}

/*# sourceMappingURL=app.css.map */
